{% if site.data.settings.client-slider-items %}
<section class="section bg-light">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="section-title text-dark">I&#146;ve had the privilege to help build these brands.</h2>
			</div>
		</div>
		<div class="client-logo-slider d-flex align-items-center">
		{% for slider-item in site.data.settings.client-slider-items %}
			<a href="{{ slider-item.url }}" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid" src="{{ site.baseurl }}/{{ slider-item.logo }}" alt="client-logo"></a>
		{% endfor %}
		</div>
	</div>
</section>
{% endif %}