<!-- footer -->
<footer class="footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="text-light">Email me:</p>
          <p class="paragraph-lg font-secondary"><a href="mailto:{{ site.data.settings.email }}?Subject=Business inquiry">{{ site.data.settings.email }}</a></p>
        </div>
        <div class="col-md-6">
          <p class="text-light">Call me:</p>
          <p class="paragraph-lg font-secondary">{{ site.data.settings.phone }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">{{site.data.settings.copyright | markdownify}}</p>
  </div>
</footer>
<!-- /footer -->


<!-- JS Plugins -->
{% for js in site.data.plugins.js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}

<!-- Main Script -->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>