// Color Variables
$primary-color: #000;
$secondary-color: #fff;
$text-color: #fff;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #000;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #c7c7c7;

// Font Variables
$primary-font: 'Libre Franklin Regular', sans-serif;
$secondary-font: 'Poppins Black', sans-serif;
$icon-font: 'themify';